.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup__form{
    background-color: rgb(233, 233, 233);
    position: absolute;
    top: 10rem;
    padding: 40px;
    width: 720px;
    overflow: hidden;
    z-index: -999;
    color: #12458D;
    border-radius: 15px;
}

.signup__form > h3{
    font-family: Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.horizontal__line{
    border: 1px solid black;
    margin: 5px 0;
}

.signup__form__header{
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
    font-family: Verdana, sans-serif;
}

.title{
    width: 90px;
}

.name{
    width: 36%;
}

.form__label{
    display: block;
    margin: 12px 0 5px 0;
}

.form__input, .dropdown, .title__dropdown{
    border-radius: 5px;
    padding: 7px 10px;
    border: 0;
    font-size: 16px;
    margin: 5px 20px 5px 0;
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button{
    appearance: none;
}

.form__input:focus{
    outline: none;
}

.dob > input, .maritalStatus > input, 
.telephoneNumber > input, .email > input,
.addressField > input, .accountField > input,
.dropdown, .password > input, .confirmPassword > input{
    width: 320px;
}

.address, .accountType{
    width: 680px;
}

.form__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0;
}

.signup__formbtn{
    margin: 30px auto;
    padding: 10px 15px;
    cursor: pointer;
    display: grid;
    width: 200px;
    font-size: 16px;
    background-color: rgb(88, 88, 248);
    color: #fff;
    border: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

.signup__formbtn:hover{
    background-color: darkblue;
}

.link{
    font-size: 14px;
    display: grid;
    text-align: center;
}

.link > a{
    text-decoration: none;
    margin: 0 auto;
}

.link > a:hover{
    text-decoration: underline;
}

.dropzone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px dashed rgb(117, 112, 112);
    padding: 10px;
    margin: 15px 0;
}

.dropzone > p{
    padding: 5px 0;
}

button{
    padding: 8px;
    font-size: 16px;
}

@media only screen and (max-width: 980px){
    .signup__form{
        width: 80%;
        top: 6rem;
    }

    .name{
        width: 33%;
    }

    .dob > input, .maritalStatus > input, 
    .telephoneNumber > input, .email > input,
    .addressField > input, .accountField > input,
    .password > input, .confirmPassword > input{
        width: 275px;
    }

    .address, .accountType{
        width: 93%;
    }
}

@media only screen and (max-width: 787px){
    .name, .address, .accountType{
        width: 100%;
    } 

    .dob > input, .maritalStatus > input, 
    .telephoneNumber > input, .email > input,
    .addressField > input, .accountField > input,
    .password > input, .confirmPassword > input{
        width: 100%;
    }

    .form__content{
        display: inline;
        margin-right: 20px;
    }
}