.signin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sigin__form{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px #000;
    padding: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    margin-top: 12rem;
}

.sigin__form > h3{
    padding: 0;
    margin: 5px 0 20px 0;
}

.sigin__form > label{
    margin: 10px;
}

.sigin__form > label > input{
    width: 16vw;
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid black;
}

.sigin__form > label > input:focus{
    outline: none;
}

.signin__formbtn{
    margin: 15px 10px 10px 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.signin__formbtn__contents{
    text-align: center;
}

.sigin__form > p{
    margin: 10px 0;
    font-size: 14px;
}

.sigin__form > p > a{
    text-decoration: none;
}

.sigin__form > p > a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 980px) {
    .sigin__form{
        width: 60%;
        margin-top: 7rem;
    }

    .sigin__form > label > input{
        width: 30vw;
    }

    .sigin__form > p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 490px) {
    .sigin__form{
        width: 80%;
    }

    .sigin__form > label > input{
        width: 40vw;
    }
}