.dashboard{
    margin: 0 auto;
    width: 70vw;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    height: auto;
    z-index: -998;
}

.dashboard__sidebar{
    width: 20vw;
}

.dashboard__component{
    display: flex;
    align-items: center;
}